    
* {
    display: flexbox;
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myPlayer1Name, #nameTag1 {
  display: inline-flex;
  justify-content: left;
  font-size: 24px;
  color: blueviolet;
  margin:  30px;
  
}

#myPlayer2Name, #nameTag2 {
  display: inline-flex;
  justify-content: right;
  font-size: 24px;
  color: blueviolet;
  margin-left: 80px;
}

.board {
  margin-top: 40px;
  margin-left: 340px;
}

    h1 {
      display: flex;
      color: orangered;
      font-size: 45px;
      justify-content: center;
    }
  
    /* Tic-tac-toe grid */
    #b1, #b2, #b3, #b4, #b5, 
    #b6, #b7, #b8, #b9 {
      
        width: 90px;
        height: 62px;
        border: 2px solid black;
        border-radius: 6px;
        font-size: 40px;
        text-decoration: black;
        text-align: center;
        background-color: cornflowerblue;
    }
  
    /* Reset Button */
   .buttons {
     display: inline;
     justify-content: center;
     margin-left: 108px;
   }
  
    /* Player's turn */
    #print {
      display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
        font-size: 30px;
        justify-content: center;
        margin-left: 30px;
    }
  
    /* Main Contianer */
    #main {
        text-align: center;
    }
  